@layer base {
  body {
    min-height: 100vh;
    color: var(--color-fg);
    background: var(--color-bg);
    line-height: 1.6;
    font-family: var(--font-sans);
    font-size: var(--text-base);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
